

#menu-body {

    width:100px;
    height:100px;
    right:0;
    top:0;
    position: absolute;
    background-color: orange;
}


#menu-background {
    background-color: #DD3B3B;
    position: absolute;
}